@media only screen and (min-device-width: 641px) {
	.cardi {
	 margin-left: 11%; 
 }
 }
 

.img-set {
	height: auto;
	width: auto;
	max-height: 72px;
	max-width: 250px;
}

button {
	padding: 5px 10px;
	border-radius: 5px;
}


 
.modal.active {
	display: block;
}
 


 
.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid blue;
	background: blue;
	color: white;
	padding: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
 
.modal-body {
	border: 1px solid blue;
	justify-content: left;
	padding: 0px;
	background: white;
}
 
.modal-overlay {
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: black;
	opacity: .4;
	position: fixed;
	z-index: 50;
}

.modal input[type=text] {
	text-align: left;
}

.slideshade {
	background-color: #03f;
	opacity: 0.5;
}

.profile-card {
	min-width: 200px;
	position: relative;
	min-height: 200px;
	display: flex;
	background: #808080;	
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 1rem;
	background-color: white;
	box-shadow: 0px 3px 10px ;
	transition: all 0.3s ease;
}

.profile-card:hover {
	transform: translateY(-3%);
	cursor: pointer;
}

.uno{
float: left;
width: 30%;
}

.seco{
float: left;
}
