/* @import url("https://fonts.googleapis.com/css3?family=Raleway:italic,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "“Raleway”", sans-serif;
}

.body {
  display: flex;
}

.cards {
  margin: auto;
  width: 70vw;
  max-width: 800px;
  height: 60vh;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 5rem;
}

.field-icon {
	float: right;
	margin-left: -35px;
	margin-top: 12px;
	position: relative;
	z-index: 2;
	color: gray;
  }
  .equallizer{
	float: right;
	margin-left: -15px;
	margin-top: 25px;
	position: relative;
	z-index: 2;
	color: gray;
  }
  
  .field-icon:hover {
	 color: black;
  }

@media screen and (max-width: 950px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 620px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.profile-card {
  min-width: 200px;
  position: relative;
  min-height: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  background-color: white;
  box-shadow: 0px 3px 10px #808080;
  transition: all .3s ease;
}

.profile-card:hover {
  transform: translateY(-3%);
  cursor: pointer;
}

.profile-picture {
  border-radius: 50%;
  box-shadow: 0px 0px 5px #808080;
}

.profile-name {
  font-weight: 900;
  font-size: 18px;
}

.profile-work {
  display: flex;
  width: 100%;
  height: 35%;
  justify-content: space-around;
  align-items: center;
  background-color: #f3f2f2;
}

.profile-projects, 
.profile-prototypes {
	display: flex; 
	 flex-flow: column;
	 text-align: center;
}

strong {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

small {
  font-size: 12px;
  font-weight: 500;
}

@media only screen and (min-device-width: 641px) {
	.cardi {
	 margin-left: 11%; 
 }
 }
 

.img-set {
	height: auto;
	width: auto;
	max-height: 72px;
	max-width: 250px;
}

button {
	padding: 5px 10px;
	border-radius: 5px;
}


 
.modal.active {
	display: block;
}
 


 
.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid blue;
	background: blue;
	color: white;
	padding: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
 
.modal-body {
	border: 1px solid blue;
	justify-content: left;
	padding: 0px;
	background: white;
}
 
.modal-overlay {
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: black;
	opacity: .4;
	position: fixed;
	z-index: 50;
}

.modal input[type=text] {
	text-align: left;
}

.slideshade {
	background-color: #03f;
	opacity: 0.5;
}

.profile-card {
	min-width: 200px;
	position: relative;
	min-height: 200px;
	display: flex;
	background: #808080;	
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 1rem;
	background-color: white;
	box-shadow: 0px 3px 10px ;
	transition: all 0.3s ease;
}

.profile-card:hover {
	transform: translateY(-3%);
	cursor: pointer;
}

#wrapper {
    overflow-x: hidden;
 }

#sidebar {
  min-height: 100vh !important;
  width: 250px;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  box-shadow: 0px 0px 2px  #0C0C0C;
}


.sidebar-header{
  font-weight: bold;
  font-size: 30px;
}

#wrapper.toggled #sidebar {
  margin-left: -250px;
}

#sidebar ul.components {
  padding: 20px 0;
  text-align: center;
}

#sidebar ul p {
  padding: 10px;
}

#sidebar ul li a {
  display: block;
  border: none;
  background-color: #a2daeb;
  color: black;
  padding: 7px 10px;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

#sidebar ul li a:hover {
  background: #3a7ee4;
  text-decoration: none !important;
  color:  white;
}

#sidebar ul li .active
{
  background: #3a7ee4 !important;
  text-decoration: none !important;
  color:  white;
}

#content{
  position: relative;
  right: 0;
  width: 100%;
 
}

@media (max-width: 600px) {
	body{
	  width: 100%;
	}
	#sidebar {
	  margin-left: 0;
	 
	}
  
	#wrapper {
	   margin-left: -175px;
	}
	#wrapper.toggled #sidebar {
	  margin-left: 175px;
	  width: 100%;
	}
	
	#content {
	  width:  100%;
	}
  
	.none{
	  display: none;
	}
   
  }
